nextcord[speed, voice]  @ git+https://github.com/ToasterUwU/nextcord.git@display_name-behaviour-correction
orjson                  == 3.9.*
aiohttp                 == 3.9.*
Levenshtein             == 0.24.*
unidecode               == 1.3.*