nextcord[speed, voice]  @ git+https://github.com/ToasterUwU/nextcord.git@display_name-behaviour-correction
orjson                  == 3.10.*
aiohttp                 == 3.11.*
Levenshtein             == 0.27.*
unidecode               == 1.3.*